<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% block stylesheets %}
        <link href="{{ asset('build/css/app.css') }}" rel="stylesheet">
        {#<link href="{{ asset('build/css/loader.css') }}" rel="stylesheet">#}


    {% endblock %}

    <title>{% block title %}Welcome{% endblock %}</title>
</head>
<body>
<div class="wrapper">
    {% block flash %}
        {% for message in app.flashes('success') %}
            <div class="message">
                {{ message }}
            </div>
        {% endfor %}
    {% endblock %}
    {% block msg %}
        <div class="message">
            <span id="msg"></span>
        </div>
    {% endblock %}
    <div class="menu">
        <ul id="nav">
            <li class="nav"><a class="nav" href="{{ path('home') }}">Start</a></li>
            <li class="nav dropdown">
                <a href="{{ path('orte')}}" class="nav dropbtn">Ort</a>
                <div class="dropdown-content">
                        <a href="{{ path('orte')}} " class="nav">Alle Orte</a>
                        <a href="{{ path('add_ort')}}" class="nav">Ort hinzuf端gen</a>
                    </div>
            </li>
            <li class="nav dropdown">
                <a href="{{ path('companies') }}" class="nav dropbtn">Firmen</a>
                <div class="dropdown-content">
                        <a href="{{ path('companies') }}" class="nav">Firmen</a>
                        <a href="{{ path('add_companies') }}" class="nav">Firma hinzuf端gen</a>
                    </div>
            </li>
            <li class="nav dropdown">
                <a href="{{ path('services') }}" class="nav dropbtn">Services</a>
                <div class="dropdown-content">
                    <a href="{{ path('services') }}" class="nav">Services</a>
                    <a href="{{ path('add_service') }}" class="nav">Service hinzuf端gen</a>
                </div>
            </li>
            <li class="nav dropdown">
                <a href="{{ path('contacts') }}" class="nav dropbtn">Kontakte</a>
                <div class="dropdown-content">
                    <a href="{{ path('contacts') }}" class="nav">Kontakte</a>
                    <a href="{{ path('add_contact') }}" class="nav">Kontakt hinzuf端gen</a>
                </div>
            </li>
        </ul>
    </div>
    <div class="content">
        {% block body %}
        {% endblock %}

    </div>
    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('build/js/app.js') }}"></script>
    {% endblock %}
</div>
</body>
</html>
