<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% block stylesheets %}
        <link href="{{ asset('build/css/app.css') }}" rel="stylesheet">
        {#<link href="{{ asset('build/css/loader.css') }}" rel="stylesheet">#}


    {% endblock %}

    <title>{% block title %}Welcome{% endblock %}</title>
</head>
<body>
<div class="wrapper">
    {% block top %} {% endblock %}
    <div class="menu">
        <ul id="nav">
            <li class="nav"><a class="nav" href="{{ path('home') }}">Start</a></li>
            <li class="nav dropdown">
                <a href="{{ path('orte')}}" class="nav dropbtn">Ort</a>
                <div class="dropdown-content">
                        <a href="{{ path('orte')}} " class="nav">Alle Orte</a>
                        <a href="{{ path('add_ort')}}" class="nav">Ort hinzufügen</a>
                    </div>
            </li>
            <li class="nav dropdown">
                <a href="{{ path('companies') }}" class="nav dropbtn">Firmen</a>
                <div class="dropdown-content">
                        <a href="{{ path('companies') }}" class="nav">Firmen</a>
                        <a href="{{ path('add_companies') }}" class="nav">Firma hinzufügen</a>
                    </div>
            </li>
        </ul>
    </div>
    <div class="content">
        {% block body %} {% endblock %}

    </div>
    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('build/js/app.js') }}"></script>
    {% endblock %}
</div>
</body>
</html>
