{% extends 'base.html.twig' %}
{% block body %}
    <h1>Welcome</h1>
    <img id="sunset" src="{{ asset('build/images/ant.jpg') }}" alt="">
    <a href="{{ path('timetracker') }}" >
        <div class="startBox">
            <p class="text">Zeit erfassen</p>
        </div>
    </a>
    <a href="{{ path('home') }}" >
        <div class="startBox">
            <p class="text">Verlauf</p>
        </div>
    </a>
    <a href="{{ path('orte')}} " >
        <div class="startBox">
            <p class="text">Orte</p>
        </div>
    </a>
    <a href="{{ path('companies') }}" >
        <div class="startBox">
            <p class="text">Firmen</p>
        </div>
    </a>
    <a href="{{ path('services') }}" >
        <div class="startBox">
            <p class="text">Services</p>
        </div>
    </a>
    <a href="{{ path('contacts') }}" >
        <div class="startBox">
            <p class="text">Kontakte</p>
        </div>
    </a>
{% endblock %}