{% extends 'base.html.twig' %}
{% block flash %}
    {% for message in app.flashes('success') %}
        <div class="message">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}
{% block body %}
    <h1>Alle Orte</h1>
    <button class="" id="myBtn" onclick="display('{{ path('add_ort') }}')">Ort hinzufügen</button>
    <div id="dispModal"></div>
    <table class="items orte">
        <tr><th>Postleitzahl</th><th>Ort</th><th>id</th></tr>
        {% for ort in orte %}
            <tr id="ort{{ ort.id }}">
                <td>{{ ort.plz }}</td>
                <td>{{ ort.ort }}</td>
                <td>{{ ort.id }}</td>
                <td>
                    <button class="btn upd" id="myBtn" onclick="display('{{ path('edit_ort',{'ort':ort.id } ) }}')">Edit</button>
                    <button class="btn del" onclick="delOrt( '{{ path('del_ort')}}',{{ ort.id }},'ort' )">Delete</button></td>
            </tr>
        {% endfor %}
    </table>

    {# Paginator #}
    {% include '_paginate.html.twig' with {
        'route': 'orte',
        'parameters':{},
        'page': page,
        'pages': pages,
    } %}

    <!-- The Modal -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close" onclick="closeModal()">&times;</span>
                <h2>Ort anpassen/hinzufügen</h2>
            </div>
            <div class="modal-body">
                <br>
                Loading...
                <br><br>
            </div>
{#            <div class="modal-footer">
                <h3>Modal Footer</h3>
            </div>#}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('build/js/ort.js') }}"></script>
{% endblock %}
