{% extends 'base.html.twig' %}
{% block flash %}
    {% for message in app.flashes('success') %}
        <div class="message">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}
{% block body %}
    <h1>Alle Services</h1>
    <button class="btn add" id="myBtn" onclick="display('{{ path('add_service') }}')">Service hinzufügen</button>
    <div id="dispModal"></div>
    <table class="items services">
        <tr><th>Service</th><th>id</th></tr>
        {% for service in services %}
            <tr id="service{{ service.id }}">
                <td>{{ service.name }}</td>
                <td>{{ service.id }}</td>
                <td>
                    <button class="btn upd" id="myBtn" onclick="display('{{ path('edit_service',{'service':service.id } ) }}')">Edit</button>
                    <button class="btn del" onclick="delOrt( '{{ path('del_service')}}',{{ service.id }},'service' )">Delete</button></td>
            </tr>
        {% endfor %}
    </table>

    {# Paginator #}
    {% include '_paginate.html.twig' with {
        'route': 'services',
        'parameters':{},
        'page': page,
        'pages': pages,
    } %}

    <!-- The Modal -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close" onclick="closeModal()">&times;</span>
                <h2>Service anpassen/hinzufügen</h2>
            </div>
            <div class="modal-body">
                <br>
                Loading...
                <br><br>
            </div>
            {#            <div class="modal-footer">
                            <h3>Modal Footer</h3>
                        </div>#}
        </div>
    </div>
{% endblock %}
{% block documentReady %}
    hashAdd('{{ path('add_service')}}');
{% endblock %}
{#
{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('build/js/service.js') }}"></script>
{% endblock %}
#}
